node_modules
build
dist
npm-debug.log
okta-oidc-tck
samples-nodejs-express-4
samples-java-spring
.DS_Store
.vscode
.yalc
.idea/
yalc.lock
.eslintcache
# Do not commit any env files except .okta.env (upstream example) and .example.env (local example)
*.env
.env.*
!.okta.env
!.example.env
