name: React CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Create .env file
      uses: SpicyPizza/create-envfile@v1
      with:
        envkey_ISSUER: ${{ secrets.ISSUER }}
        envkey_CLIENT_ID: ${{ secrets.CLIENT_ID }}
        file_name: .okta.env
    - name: Build and test
      run: |
        npm run build
        npm test
